Repository kuri-sun/yoda.nvim, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, lua, colorscheme, extras, oh-my-zsh, kitty, wezterm, alacritty, github-actions, dependencies

.github/labeler.yml:

# Auto-labeler configuration for PRs based on files changed

documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

lua:
  - changed-files:
    - any-glob-to-any-file: ['**/*.lua']

colorscheme:
  - changed-files:
    - any-glob-to-any-file: ['colors/**/*', 'lua/yoda/colors/**/*', 'lua/yoda/palette/**/*']

extras:
  - changed-files:
    - any-glob-to-any-file: ['extras/**/*']

oh-my-zsh:
  - changed-files:
    - any-glob-to-any-file: ['extras/oh-my-zsh/**/*']

kitty:
  - changed-files:
    - any-glob-to-any-file: ['extras/kitty/**/*']

wezterm:
  - changed-files:
    - any-glob-to-any-file: ['extras/wezterm/**/*']

alacritty:
  - changed-files:
    - any-glob-to-any-file: ['extras/alacritty/**/*']

github-actions:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*']

dependencies:
  - changed-files:
    - any-glob-to-any-file: ['package.json', 'package-lock.json', 'yarn.lock']

chore: close stale issue workflow
  .github/workflows/stale.yml
Labels: github-actions

fix: remove ci folder from the target
  .github/workflows/ci.yml
Labels: github-actions

chore: added color palette to README
  README.md
Labels: documentation

chore: updated oh-my-zsh theme
  extras/oh-my-zsh/yoda-light.zsh-theme
  extras/oh-my-zsh/yoda.zsh-theme
Labels: extras, oh-my-zsh

chore: updated the selection bg highlight color
  lua/yoda/colors.lua
Labels: lua

chore: updated README.md
  README.md
Labels: documentation

chore: updated README.md
  README.md
  assets/saber.jpeg
Labels: documentation

chore: updated README.md
  README.md
Labels: documentation

chore: updated README.md
  README.md
Labels: documentation

chore: removed some assests
  assets/logo.png
  assets/saber.jpeg
Labels: none

chore: update changelog for v1.1.0
  CHANGELOG.md
Labels: documentation

feat: color pallete update
  extras/alacritty/alacritty-light.toml
  extras/alacritty/alacritty.toml
  lua/lualine/themes/yoda.lua
  lua/yoda/colors.lua
Labels: lua, extras, alacritty

chore: update color palette
  lua/yoda/colors.lua
  lua/yoda/highlights.lua
Labels: lua

README.md
  README.md
Labels: documentation

Update README.md from mobile phone
  README.md
Labels: documentation
